<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOOM! </title>

    <script src="./js/jquery.min.js" type="text/javascript"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/d3.min.js"></script>
    <script src="./js/leaflet.js"></script>
    <script src="./js/crossfilter.min.js"></script>
    <script src="./js/dc.min.js"></script>
    <script src="./js/dc.leaflet.min.js"></script>    
    <script src="./js/papaparse.min.js"></script>

    <!-- LIBS MODIFIED BY ME-->
    <script src="./js/leaflet-triangle-marker.js"></script>
    <script src="./js/tef-dcleafleat-extension.js"></script>

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/leaflet.css" /> 
    <link rel="stylesheet" href="./css/leaflet-legend.css" />
    <link rel="stylesheet" href="./css/dc.min.css" />
    <link rel="stylesheet" href="./css/tef.css" />

</head>

<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="tef-bg p-4 tef-menu">
            <div class="tef-menu-filter tef-menu-card">
                <h4>
                    Filters
                    <button type="button" class="btn btn-link" id="resetSelection">
                        [Reset all selections]
                    </button>
                </h4>
                <div style="display: inline-block;">
                    <div class="tef-menu-filters-charts">
                        <div>
                            Type of section:
                            <div id="type-section-chart"></div>
                        </div>
                        <div>
                            Type of register:
                            <div id="type-register-chart"></div>
                        </div>
                        <div>
                            Type of analysis:
                            <div id="type-analysis-chart"></div>
                        </div>
                        <div>
                            Flags:
                            <div id="flags-chart"></div>
                        </div>
                        <div>
                            Other filters:
                            <br>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="unknownSwitch" checked>
                                <label class="custom-control-label" for="unknownSwitch">Show samples with no volcano
                                    assigned</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tef-menu-download tef-menu-card">
                <button type="button" class="btn btn-secondary btn-sm" id="downloadAllDataset">
                    Download all dataset
                </button>
                <button type="button" class="btn btn-secondary btn-sm" id="downloadSelection">
                    Download selected samples
                </button>
                <a type="button" class="btn btn-secondary btn-sm" href="https://doi.org/10.14768/47b4525f-ff39-4940-a963-4d2673f2362e" target="_blank">
                    Dataset repo
                </a>
                <a type="button" class="btn btn-secondary btn-sm" href="https://doi.org/10.1016/j.quascirev.2023.108254" target="_blank">
                    Publication DOI
                </a>
                <a type="button" class="btn btn-secondary btn-sm" href="https://hal.science/hal-04219211/document" target="_blank">
                    Paper @ HAL
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light tef-bg">
        <div class="container-fluid">
            <button class="navbar-toggler" data-toggle="collapse" type="button" href="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span> Menu
            </button>
        </div>
    </nav>


    <div class="tef-container">
        <div class="tef-loading" id="tef-loading">
            Loading... <br>
            <img src="/img/loading.gif" width="150" height="150">
        </div>
        <div class="tef-loading" id="tef-loading-init">
            <img src="/img/boom.png" width="199" height="51">
        </div>
        <div class="tef-volcanoes main-section">
            <div>
                <h2>Geographical Dispersion</h2>
            </div>
            <div id="mapTab">
                <div id="volcanoMap">
                </div>
            </div>
        </div>
        <div class="tef-events main-section">
            <h2>Temporal Recurrency</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab-events" role="tablist">
                    <a class="nav-link active" id="nav-events-overview-tab" data-toggle="tab"
                        href="#nav-events-overview" type="button" role="tab" aria-controls="nav-events-overview"
                        aria-selected="true">Overview</a>
                    <a class="nav-link" id="nav-events-selected-tab" data-toggle="tab" href="#nav-events-selected"
                        type="button" role="tab" aria-controls="nav-events-selected" aria-selected="false">
                        Detailed view for selection
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent-events">
                <div class="tab-pane fade show active" id="nav-events-overview" role="tabpanel"
                    aria-labelledby="nav-events-overview-tab">
                    <div id="timeline">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-events-selected" role="tabpanel"
                    aria-labelledby="nav-events-selected-tab">
                    <div id="timeline-selected">
                        <div id="focus-timeline-axis">
                        </div>
                        <div id="focus-timeline">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tef-samples main-section">
            <h2>Additional Information</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab-samples" role="tablist">
                    <a class="nav-link active" id="nav-samples-chemistry-tab" data-toggle="tab"
                        href="#nav-samples-chemistry" type="button" role="tab" aria-controls="nav-samples-chemistry"
                        aria-selected="true">
                        Geochemical composition
                    </a>
                    <a class="nav-link" id="nav-samples-sources-tab" data-toggle="tab" href="#nav-samples-sources"
                        type="button" role="tab" aria-controls="nav-samples-sources" aria-selected="false">
                        Summary & sources
                    </a>
                    <a class="nav-link" id="nav-samples-clicked-tab" data-toggle="tab" href="#nav-samples-clicked"
                        type="button" role="tab" aria-controls="nav-samples-clicked" aria-selected="false">
                        Info last clicked sample
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent-samples">
                <div class="tab-pane fade show active" id="nav-samples-chemistry" role="tabpanel"
                    aria-labelledby="nav-samples-chemistry-tab">
                    <div class="scatter-controls">
                        <div>
                            <button type="button" class="btn btn-primary btn-sm" id="addNewScatter"
                                style="margin-left: 25px;">Add new scatterplot</button>
                        </div>
                        <div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="scatterSwitch">
                                <label class="custom-control-label" for="scatterSwitch">Only selected volcanoes &
                                    events</label>
                            </div>
                        </div>
                    </div>
                    <div id="scatter" style="overflow-y: scroll;" class="col-12">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-samples-sources" role="tabpanel"
                    aria-labelledby="nav-samples-sources-tab">
                    <div id="sourcesPerVolcano">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-samples-clicked" role="tabpanel"
                    aria-labelledby="nav-samples-clicked-tab">
                    <div id="clickedSamplesInfo">
                    </div>
                </div>
            </div>
            <%- include ('partials/tef.ejs')%>
        </div>
    </div>
</body>